<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  
  
  <title>My Spotify Music</title>
  <link rel="shortcut icon" href="#">	
 <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />
  <script defer src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <script   src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"   integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="   crossorigin="anonymous"></script>
  
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
  <script defer src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
   <link rel="stylesheet" href="./static/developers.css">
     <link rel="stylesheet" href="./static/style.css">
  
  

 

</head>
<body>
	
	


		

    <!--Navbar  -->
    <nav class="navbar navbar-expand-md navbar-light">
      <button
        class="navbar-toggler ml-auto mb-2 bg-light"
        type="button"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">
          <div class="row">
            <!--sidebar-->
            <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
              <a
                href="#"
                class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border"
                >Data Scientists</a>
      
	  
	  
              <ul class="navbar-nav flex-column mt-4">
                <li class="nav-item">
                  <a href="/get_user_data" class="nav-link text-white p-3 mb-2 sidebar-link"
                    ><i class="fas fa-home text-light fa-lg mr-3"></i
                    >My Dashboard</a
                  >
                </li>
                <li class="nav-item">
                  <a href="/json" class="nav-link text-white p-3 mb-2 sidebar-link"
                    ><i class="fas fa-database text-light fa-lg mr-3"></i>
                    JSON Data</a
                  >
                </li>
                <li class="nav-item">
                  <a href="/compare" class="nav-link text-white p-3 mb-2 sidebar-link" 
                    ><i class="fas fa-chart-bar text-light fa-lg mr-3"></i
                    >Listening Comparison</a
                  >
                </li>
                <!-- <li class="nav-item">
                  <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"
                  ><i class="fas fa-chart-bar text-light fa-lg mr-3"></i
                    >D3 Visualization</a
                  > -->
                </li>
                <li class="nav-item">
                  <a href="/global_user_data" class="nav-link text-white p-3 mb-2 sidebar-link"
                    ><i class="fas fa-chart-line text-light fa-lg mr-3"></i
                    >Tableau Visualization</a
                  >
                </li>
				
					 <li class="nav-item">
                  <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"
                    ><i class="fas fa-music text-light fa-lg mr-3"></i
                    >ML Song Recommender<br> (in development)</a
                  >
                </li>
				
				
				
				
				
                <li class="nav-item">
                  <a href="/developers" class="nav-link text-white p-3 mb-2 current"
                    ><i class="far fa-user text-light fa-lg mr-3"></i
                    >Developers</a
                  >
                </li>
                
              </ul>
            </div>
            <!--end of sidebar-->
            <!--top-nav-->
            <div
              class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top top-navbar"
            >
              <div class="row align-items-center">
                <div class="col-md-12">
                  <h4 style = 'text-align:center; vertical-align: middle' class="text-light text-uppercase mb-0">Spotilytics (Spotify Analytics)</h4>
                </div>
     
	 
	 
	 
                <!-- <div class="col-md-1"> -->
                  <!-- <ul class="navbar-nav"> -->
                  
                   
                    <!-- <li class="nav-item ml-md-auto"> -->
                      <!-- <a -->
                        <!-- href="#" -->
                        <!-- class="nav-link" -->
                        <!-- data-toggle="modal" -->
                        <!-- data-target="#sign-out" -->
                      <!-- > -->
                        <!-- <i class="fas fa-sign-out-alt text-success fa-lg"></i> -->
                      <!-- </a> -->
                    <!-- </li> -->
                  <!-- </ul> -->
                <!-- </div> -->
              </div>
            </div>
            <!--end of top-nav-->
          </div>
        </div>
      </div>
    </nav>
    <!--End of navbar -->

    <!--modal-->
    <!-- <div class="modal fade" id="sign-out"> -->
      <!-- <div class="modal-dialog"> -->
        <!-- <div class="modal-content"> -->
          <!-- <div class="modal-header"> -->
            <!-- <h4 class="modal-title">Want to leave?</h4> -->
            <!-- <button type="button" class="close" data-dismiss="modal"> -->
              <!-- &times; -->
            <!-- </button> -->
          <!-- </div> -->
          <!-- <div class="modal-body">Press logout to leave</div> -->
          <!-- <div class="modal-footer"> -->
            <!-- <button type="button" class="btn btn-success" data-dismiss="modal"> -->
              <!-- Stay here -->
            <!-- </button> -->
            <!-- <button type="button" class="btn btn-danger" data-dismiss="modal"> -->
              <!-- Logout -->
            <!-- </button> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
    <!--end of modal-->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<div class="container-fluid">
        <div class="row">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row pt-md-5 mt-md-3 mb-5">
              <div class="col-xl-4 col-sm-6 p-2">
               
              </div>
              <div class="col-xl-4 col-sm-6 p-2">
               

              </div>
			  
			  
             
        
              </div>
            </div>
          </div>
        </div>
     
	
	
	
	
	
	
	

	
	
	
<section id="team" class="pb-5">
	
	
	<div class="container-fluid">
<div class="row mb-4 align-items-center">
          <div class="col-xl-12 col-lg-12 col-md-12 ml-auto">
        
		<div class="row mb-4 align-items-center">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
		 <div class="row mb-4 align-items-center">
              <div class="col-xl-12 col-12 mb-4 mb-xl-0">
	
	
	
	
		
	
	
	
	
	
	
	
	
	
        <div class="container-fluid">
          <h1 class="section-title display-1">OUR TEAM</h1>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 ml-auto">
              <div
                class="image-flip"
                ontouchstart="this.classList.toggle('hover');"
              >
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p>
                          <img class="img-fluid" src="https://lh3.googleusercontent.com/slwSCAbb1K-IbIpfSJ1CvfMBLmDje9OWeTVABMhbOBCuk_VH2JC9rZbfkGP3uH9rPH-jsICdBMg37jl71GXIKPa8fN2sk77MOqaPCdJrbVPFUexdRAtiHS2Fna2YNNjPzK6q6hF0ag=w2400" />
                        </p>
                        <h4 class="card-title">Sahar Alaei</h4>
                        <p class="card-text">Software Engineer</p>
                        <a href="#" class="btn btn-primary btn-sm">More</a>
                      </div>
                    </div>
                  </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">Sahar Alaei</h4>
                        <p class="card-text h5">
                          Software Engineer with Insatiable intellectual
                          curiosity and ability to mine hidden gems located
                          within large sets of structured, semi-structured, and
                          raw data.
                        </p>
                        <br>
                        <br>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a
                              class="text-xs-center"
                              target="_blank"
                              href="https://www.linkedin.com/in/sahar-alaei-3b5a6753"
                            >
                              <i
                                class="fab fa-linkedin fa-2x"
                                id="linkedin"
                              ></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a
                              class="text-xs-center"
                              target="_blank"
                              href="https://www.github.com/saharalaei"
                            >
                              <i
                                class="fab fa-github-square fa-2x"
                                id="github"
                              ></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div
                class="image-flip"
                ontouchstart="this.classList.toggle('hover');"
              >
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p>
                          <img class="img-fluid" src="https://lh3.googleusercontent.com/8VlYW7cc7JHyYDUTKSwaCcAsGuJdbGkLSZgaec8T--B4RtEuKgYQQDqHva3dngoCbj4-Vx1aOuPlM1LhjiBvU1kbnlkIKhnXi4TqDE0TNMBCdyrakm56__8GMM53n2CXsyb_Ijyb-g=w2400" />
                        </p>
                        <h4 class="card-title">Henry Byoun</h4>
                        <p class="card-text">Data Analyst</p>
                        <a href="#" class="btn btn-primary btn-sm">More</a>
                      </div>
                    </div>
                  </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">Henry Byoun</h4>
                        <p class="card-text h5">
                          Data analyst working primarily in Python and
                          JavaScript
                        </p>
                        <br><br>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a
                              class="text-xs-center"
                              target="_blank"
                              href="https://www.linkedin.com/in/henrybyoun"
                            >
                              <i
                                class="fab fa-linkedin fa-2x"
                                id="linkedin"
                              ></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a
                              class="text-xs-center"
                              target="_blank"
                              href="https://www.github.com/asianhenry"
                            >
                              <i
                                class="fab fa-github-square fa-2x"
                                id="github"
                              ></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div
                class="image-flip"
                ontouchstart="this.classList.toggle('hover');"
              >
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p>
                          <img
                            class="img-fluid"
                            alt="Team Cards Flipper"
                            src="https://lh3.googleusercontent.com/c4-WF1sfxqgmG9enge-vtGWHR-NTa39HNHDTiRUbZuQABrVMCMRurdZBSCCziwDJXxX9vTWomPfJuaEyQ8yi9KvmSDzdybn16hSAWq8crwQO2Ab-gInt9rIkmc0tEINzTxPrsHD77g=w2400"
                          />
                        </p>
                        <h4 class="card-title">Derrik Dennis</h4>
                        <p class="card-text">Data Analyst</p>
                        <a href="#" class="btn btn-primary btn-sm">More</a>
                      </div>
                    </div>
                  </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">Derrik Dennis</h4>
                        <p class="card-text h5">
                          Experienced data analyst working with a new toolset to
                          create stunning stories and actionable results.
                        </p>
                        <br>
                        <br>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a
                              class="text-xs-center"
                              target="_blank"
                              href="https://www.linkedin.com/in/derrikdennis"
                            >
                              <i
                                class="fab fa-linkedin fa-2x"
                                id="linkedin"
                              ></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a
                              class="text-xs-center"
                              target="_blank"
                              href="https://www.github.com/derrikdennis"
                            >
                              <i
                                class="fab fa-github-square fa-2x"
                                id="github"
                              ></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
	
	
	
	
	

	
	          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div
                class="image-flip"
                ontouchstart="this.classList.toggle('hover');"
              >
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p>
                          <img
                            class="img-fluid"
                            alt="Team Cards Flipper"
                            src="https://lh3.googleusercontent.com/NyOLy6MVpXldHJKglsyQ7y17YSMHzg3YVev4PjQhwWO6OTwXNs-K-S2Dpq46fhz-b5HaRo6ojyj66sf-cSDtZLjAfPq1PiLyaHYWKSYS3pxincWyVGuRacH_hkXQD0HKXxsuD62qsQ=w2400"
                          />
                        </p>
                        <h4 class="card-title">Conor Gleason</h4>
                        <p class="card-text">Data Analyst</p>
                        <a href="#" class="btn btn-primary btn-sm">More</a>
                      </div>
                    </div>
                  </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">Conor Gleason</h4>
                        <p class="card-text h5">
                          Data Analyst working to better understand how to use data to analyze patterns and solve problems in today's world.
                           Expertise includes analysis and interpretation, through tools such as Python, JavaScript, and Tableau.
                        </p>
                        <br>
                        <br>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a
                              class="text-xs-center"
                              target="_blank"
                              href="https://www.linkedin.com/in/conor-gleason"
                            >
                              <i
                                class="fab fa-linkedin fa-2x"
                                id="linkedin"
                              ></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a
                              class="text-xs-center"
                              target="_blank"
                              href="https://www.github.com/cgleason3462"
                            >
                              <i
                                class="fab fa-github-square fa-2x"
                                id="github"
                              ></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div
                class="image-flip"
                ontouchstart="this.classList.toggle('hover');"
              >
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p>
                          <img
                            class="img-fluid"
                            alt="Team Cards Flipper"
                            src="https://lh3.googleusercontent.com/R95tnz00BJgK0Cwt9oHiNsjtUIGKuikDnPtJ8mxYbZRFxeHXM1ClPE1EDUjWSthLVFzUt2dzrsGesLieRn9pm6M5zc-_bSCHjMXHh2-7k1zYpFPtm6oG5WJIBIXSp9QeAlHK-T27xA=w2400"
                          />
                        </p>
                        <h4 class="card-title">Ariana Monteiro</h4>
                        <p class="card-text">Engineer / Data Analyst</p>
                        <a href="#" class="btn btn-primary btn-sm">More</a>
                      </div>
                    </div>
                  </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">Ariana Monteiro</h4>
                        <p class="card-text h5">
                          Graduated from The University of Texas at Austin with
                          a degree in Petroleum Engineering. Currently exploring
                          interests in data analytics.
                        </p>
                        <br>
                        <br>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a
                              class="text-xs-center"
                              target="_blank"
                              href="https://www.linkedin.com/in/ariana-monteiro-5ab638104"
                            >
                              <i
                                class="fab fa-linkedin fa-2x"
                                id="linkedin"
                              ></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a
                              class="text-xs-center"
                              target="_blank"
                              href="https://www.github.com/arimont123"
                            >
                              <i
                                class="fab fa-github-square fa-2x"
                                id="github"
                              ></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div
                class="image-flip"
                ontouchstart="this.classList.toggle('hover');"
              >
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p>
                          <img
                            class="img-fluid"
                            alt="Team Cards Flipper"
                            src="https://lh3.googleusercontent.com/AKhw7mr3hb5UUSRamU8LWPYZJgPPT3rA_mX3SoRyfgTGj1rIwEUmWOvh1PrEtEH_GD0yZ6PjjbDAqXyM33ySp7KXl-3yBlzQFggHysUddhn3z0s4EZgArkjvw7tOS3fJw-Ur8K3zVw=w2400"
                          />
                        </p>
                        <h4 class="card-title">Maanasa Neralla</h4>
                        <p class="card-text">Data Analyst</p>
                        <a href="#" class="btn btn-primary btn-sm">More</a>
                      </div>
                    </div>
                  </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">Maanasa Neralla</h4>
                        <p class="card-text h5">
                          Recent graduate from the University of Houston with a
                          degree in Computer Science. Posess
                        </p>
                        <br>
                        <br>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a
                              class="text-xs-center"
                              target="_blank"
                              href="https://www.linkedin.com/inmaanasa-neralla-9735b7148"
                            >
                              <i
                                class="fab fa-linkedin fa-2x"
                                id="linkedin"
                              ></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a
                              class="text-xs-center"
                              target="_blank"
                              href="https://www.github.com/mneralla"
                            >
                              <i
                                class="fab fa-github-square fa-2x"
                                id="github"
                              ></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xs-12 col-sm-6 col-md-4"></div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div
                class="image-flip"
                ontouchstart="this.classList.toggle('hover');"
              >
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p>
                          <img
                            class="img-fluid"
                            alt="Team Cards Flipper"
                            src="https://lh3.googleusercontent.com/MeI7EJXLF3VqJypAPe3jutdhieBpU9IzoXiuHR7LcbEnKkK7l3UGIpdZVBKKRxVKjIQi6GLR25ZjiBqblu-26fAMR8V1zXBpOtDiBGsOQjv22-05qVY1wZxU9uDrj_hQPtQvABZ6zg=w2400"
                          />
                        </p>
                        <h4 class="card-title">Peidong Zhao</h4>
                        <p class="card-text">
                          Ph.D. Candidate in Petroleum Engineering
                        </p>
                        <a href="#" class="btn btn-primary btn-sm">More</a>
                      </div>
                    </div>
                  </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">Peindong Zhao</h4>
                        <p class="card-text h5">
                          Solid background in data analytics and machine
                          learning for reserve estimation
                        </p>
                        <br><br>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a
                              class="text-xs-center"
                              target="_blank"
                              href="https://www.linkedin.com/in/peidong-zhao-b292a069/"
                            >
                              <i
                                class="fab fa-linkedin fa-2x"
                                id="linkedin"
                              ></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a
                              class="text-xs-center"
                              target="_blank"
                              href="https://github.com/peidongzhao"
                            >
                              <i
                                class="fab fa-github-square fa-2x"
                                id="github"
                              ></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
		
		
		
		
		
		
		
		
		</div>
</div>
</div>
</div>
</div>
</div>
</div>
		
		
		
		
		
      </section>
	
	
	
	
	
	
	
	



	
















  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script> 
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
  
  <script src="https://d3js.org/d3.v5.min.js"></script>
   

	 

 
</body>
</html>
