<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  
 <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    
    <link rel="stylesheet" type="text/css" href="./static/style-v1.css">
</head>
<body>
    <div id="header">
        <h1><b>Spotilytics</b></h1>
        <p id="desc">View Your Spotify Music Review<br>(Top Artists, Songs, Genres, Etc.)</p>
    </div>

    <div id="loginPage">
        <a class="btn btn-primary btn-lg" href="/login">
            <b>Login with Spotify</b>
        </a>
     <div
	
	<br>
	<br>
	
	
    <div class="footer">
        <span id="github">
            <a id="github" href="https://github.com/asianhenry/spotify-app" target="_blank">View on GitHub</a>
        </span>
    </div>
</body>
</html> 